body {
    background-color: $white;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    @include respond-to($lg) {
        font-size: 16px;
    }
}

.wrapper {
    overflow: hidden;
}

.d-tcell {
    display: table-cell;
    vertical-align: middle;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.title-blue {
    color: $primary;
}

.title-section {
    margin-bottom: 20px;
    @include respond-to($lg) {
        margin-bottom: 44px;
    }
}

.space-delimeter {
    @include respond-to($xl) {
        padding-top: 100px;
    }
}

/**
* LIGHTBOX STYLES
 */
.sl-overlay {
    background: #0e1a36;
    opacity: 0.8;
}
.sl-wrapper {
    .sl-navigation {
        button {
            color: $white;
        }
    }
    .sl-close {
        color: $white;
    }
}