/*
* Fonts
*/
$primary-fonts: 'Roboto', sans-serif;

/*
* Colors
*/

$white: #fff;
$secondary-color: #565656;
$dark: #0e1a36;
$primary: #0099cc;
$success: #4cd964;


/*
* Breakpoints
*/

$xs: '(max-width: 0px)';
$sm: '(min-width: 576px)';
$md: '(min-width: 768px)';
$lg: '(min-width: 992px)';
$xl: '(min-width: 1300px)';
$xxl: '(min-width: 1620px)';

/*
* Grid
*/

$grid-gutter-width: 30px;




