.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    background: transparent;
    padding: 17px 0;
    transition: .3s;
    z-index: 1000;
    .logo-site {
        display: inline-block;
        vertical-align: middle;
        width: 150px;
        margin-left: 20px;
        .img-logo-w {
            display: none;
        }
    }
    .burger {
        display: block;
        width: 26px;
        padding: 5px;
        background-color: transparent;
        border: none;
        margin-left: 11px;
        .line {
            display: block;
            width: 100%;
            height: 2px;
            background-color: $white;
            margin-bottom: 3px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .backdrop {
        position: fixed;
        display: none;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $dark;
        opacity: 0.8;
        z-index: 900;
    }
    &.open {
        display: block;
    }
}

.scroll {
    background-color: $dark !important;
    .logo-site {
        .img-logo {
            display: none;
        }
        .img-logo-w {
            display: block;
            width: 100%;
        }
    }
}

@include respond-to($md) {
    .header {
        .logo-site {
            display: block;
            width: 245px;
        }
    }
}

@include respond-to($lg) {
    .header {
        justify-content: space-between;
        .header-menu {
            min-width: 50%;
        }
    }
    .burger {
        display: none !important;
    }
    .backdrop {
        display: none !important;
    }
}

@include respond-to($xl) {
}

@include respond-to($xxl){
    .header {
        .logo-site {
            display: block;
            width: 300px;
            height: 86px;
        }
    }
}
