%btn {
    @extend .btn;
}

%active {
    @extend %outline-primary;
}

%hover {
    @extend %outline-primary-hover;
}

.menu-logo {
    display: none;
}

@media screen and (max-width: 991px) {
    .header-menu {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        max-height: 100%;
        min-width: 200px;
        max-width: 300px;
        padding: 15px 0;
        overflow-y: auto;
        transform: translateX(-100%);
        background-color: $dark;
        transition: transform .5s;
        z-index: 2000;
        .img-logo-w {
            display: block;
            width: 100%;
        }
        &.open {
            transform: translateX(0);
        }
        .nav-link {
            display: block;
            font-size: 12px;
            font-weight: normal;
            padding: 7px 30px 7px 50px;
            color: $white;
            text-align: left;
        }
    }
    .nav {
        display: flex;
        flex-direction: column;
        &-link {
            border-radius: 0;
            &.active,
            &:hover,
            &:focus{
                border: none !important;
                background-color: #1e2e55;
            }
        }
    }
    .menu-logo {
        display: block;
        width: 81px;
        height: 23px;
        margin: 0 auto 40px;
        text-align: center;
        @include respond-to($md) {
            display: none;
        }
    }
}

.close-nav {
    position: absolute;
    top: 16px;
    left: 15px;
    display: block;
    width: 23px;
    height: 23px;
    border: none;
    padding: 5px;
    background: url("../assets/img/icons/btn_menu_close.svg") center center no-repeat;
    z-index: 10;
    @include respond-to($md) {
        display: none;
    }
}

.nav {
    display: flex;
    flex-wrap: wrap;
}

@include respond-to($md) {
    .nav {
        flex-direction: row;
        padding-right: 20px;
        &-item {
            margin: 0 10px;
            &:last-child {
                margin-right: 0;
            }
        }
        &-link {
            @extend %btn;
            font-size: 14px;
            color: $dark;
            border: 3px solid transparent;
            &.active,
            &:active {
                @extend %active;
            }
            &.active {
                font-weight: 700;
            }
            &:hover,
            &:focus {
                @extend %hover;
                color: $white !important;
            }
        }
    }
}

@include respond-to($lg) {
    .scroll {
        .nav-link {
            color: $white;
            &.active,
            &:active {
                color: $primary;
            }
            &.active {
                font-weight: 700;
            }
        }
    }
    .nav {
        &-link {
            font-size: 16px;
        }
    }
}

@include respond-to($xxl) {
    .nav {
        &-item {
            margin: 0 20px;
        }
        &-link {
            font-size: 18px;
        }
    }
}
