.footer{
    background: $dark;
    padding: 40px 0 30px;
    color: $white;
    font-size: 18px;
    @include respond-to($lg) {
        padding: 30px 0 25px;
    }
    .logo {
        display: block;
        width: 150px;
        height: 43px;
        margin: 0 auto 16px;
        @include respond-to($lg) {
            margin: 0;
        }
        img {
            width: 100%;
            display: block;
        }
    }
    a {
        color: #fff;
    }
    .wrap-info {
        margin-bottom: 35px;
        text-align: center;
        margin: 0 auto;
        @include respond-to($lg) {
            margin-bottom: 0;
            text-align: right;
            margin-left: auto;
        }
    }
    .copyright {
        padding-top: 25px;
        margin: 0;
    }
}