%pseudo {
    content: '';
    position: absolute;
    display: block;
    width: 50%;
    bottom: 0;
    top: 0;
    z-index: 1;
}

.section-header {
    margin-bottom: 20px;
    @include respond-to($lg) {
        margin-bottom: 44px;
    }
}

.content-box {
    position: relative;
    background-color: rgba(0, 153, 204, .6);
    padding: 20px 20px 15px;
    color: $white;
    z-index: 2;
    @include respond-to($lg) {
        padding: 75px 40px 55px 50px;
    }
}

.section-intro {
    position: relative;
    display: table;
    width: 100%;
    height: 280px;
    padding: 52px 0 38px;
    color: $white;
    background: url(../img/bg-banner.jpg) center center no-repeat;
    background-size: cover;
    overflow: hidden;
    @include respond-to($md) {
        padding: 120px 0;
    }

    @include respond-to($lg) {
        min-height: 100vh;
    }

    &:before {
        @extend %pseudo;
        background: $dark;
        left: 0;
        opacity: .8;
    }
    &:after {
        @extend %pseudo;
        background: $white;
        right: 0;
        opacity: .6;
    }

    .title-page {
        max-width: 260px;
        margin-bottom: 20px;
        @include respond-to($lg) {
            margin-bottom: 50px;
        }
    }
    .text-small {
        margin-bottom: 10px;
        @include respond-to($lg) {
            margin-bottom: 80px;
        }
    }
    .wrap-btn {
        font-size: 10px;
        text-align: center;
        @include respond-to($lg) {
            font-size: 18px;
            text-align: left;
        }
    }
}

.section-advantages {
    position: relative;
    .container {
        position: relative;
        z-index: 2;
    }
    @include respond-to($lg) {
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            height: 300px;
            width: 74%;
            background-color: rgba(14, 26, 54, 0.05);
            transform: translateY(-50%);
            z-index: 1;
        }
    }
    .advantages-list {
        position: relative;
        @include respond-to($lg) {
            &:before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 30%;
                display: block;
                width: 2px;
                background-color: $dark;
                z-index: 1;
                @include respond-to($xl) {
                    left: 22.7%;
                }
            }
        }
        &-item {
            display: flex;
            align-items: center;
            @include respond-to($lg) {
                align-items: flex-start;
            }
        }
        .card-body {
            padding-top: 10px;
            padding-left: 4%;
            padding-bottom: 30px;
            @include respond-to($lg) {
                padding-left: 7.5%;
                padding-bottom: 40px;
            }

        }
        .icon-wrap {
            padding-top: 10px;
        }
        .card-title {
            margin-bottom: 17px;
        }
    }
    .icon-wrap {
        display: flex;
        width: 80px;
        height: 80px;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
        @include respond-to($lg) {
            margin-left: 7%;
            margin-right: 7%;
        }
        .card-img {
            display: block;
            height: auto;
            &-1,
            &-5 {
                width: 42px;
            }
            &-2 {
                width: 41px;
            }
            &-3,
            &-4 {
                width: 49px;
            }
        }

    }

}

.section-vh {
    padding: 0;
    & > .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 30px;
        padding-bottom: 30px;
        @include respond-to($lg) {
            min-height: 100vh;
            padding-top: 65px;
            padding-bottom: 65px;
        }
        &:after {
            content: ' ';
        }
    }
}

@import "../componetns/sections/section-software";

.section-video {
    .video {
        display: block;
        width: 100%;
        height: 180px;
        @include respond-to($md) {
            height: 320px;
        }
        @include respond-to($lg) {
            height: 400px;
        }
    }
    .section-header {
        margin-bottom: 20px;
    }
}

/**
*CONTACT SECTION
**/

%pseudo {
    content: '';
    position: absolute;
    display: block;
    width: 50%;
    bottom: 0;
    top: 0;
    z-index: 1;
}

.section-contacts {
    position: relative;
    display: table;
    width: 100%;
    background: url(../img/bg-contact.jpg) center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 400px;
    padding: 20px 0 30px;
    @include respond-to($md) {
        padding: 120px 0;
    }
    @include respond-to($lg) {
        height: 100vh;
    }
    &:before {
        @extend %pseudo;
        background: $dark;
        right: 0;
        opacity: .8;
    }
    &:after {
        @extend %pseudo;
        background: $white;
        left: 0;
        opacity: .6;
    }
    .section-header {
        margin-bottom: 10px;
        @include respond-to($lg) {
            margin-bottom: 40px;
        }
    }
    .contact-form {
        .form-group {
            margin-bottom: 10px;
            @include respond-to($lg) {
                margin-bottom: 20px;
            }
        }
        textarea {
            overflow: auto;
            margin-bottom: 20px;
        }
        .form-control {
            border-radius: 4px;
            background-color: #f2f2f2;
            font-size: 12px;
            font-weight: 500;
            padding: 8px 12px;
            @include respond-to($lg) {
                font-size: 18px;
                padding: 11px 30px;
            }
        }
        .btn-lg {
            width: 100%;
            @include respond-to($lg) {
                width: auto;
            }
        }
        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #bdbdbd;
            font-style: italic;
        }
        .wrap-btn {
            font-size: 16px;
            text-align: center;
            @include respond-to($lg) {
                font-size: 18px;
                text-align: right;
            }
        }
        .btn-lg {
            padding: 12px 0;
            @include respond-to($lg) {
                padding: 17px 33px;
            }
        }
    }
}