%pseudo {
    content: '';
    position: absolute;
    display: block;
    width: 50%;
    bottom: 0;
    top: 0;
    z-index: 1;
}

.section-header {
    margin-bottom: 20px;
}

.content-box {
    position: relative;
    background-color: rgba(0, 153, 204, .6);
    padding: 75px 50px 60px 40px;
    color: #fff;
    z-index: 2;
}

.section-intro {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 120px 0;
    color: $primary-color;
    background: url(../img/bg-banner.jpg) center center no-repeat;
    background-size: cover;
    overflow: hidden;
    &:before {
        @extend %pseudo;
        background: $dark;
        left: 0;
        opacity: .8;
    }
    &:after {
        @extend %pseudo;
        background: $white;
        right: 0;
        opacity: .6;
    }

    .title-page {
        max-width: 260px;
        margin-bottom: 50px;
    }
    .text-small {
        margin-bottom: 80px;
    }
}

.section-advantages {
    position: relative;
    .container {
        position: relative;
        z-index: 2;
    }
    &:before {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        height: 300px;
        width: 74%;
        background-color: rgba(14, 26, 54, 0.05);
        transform: translateY(-50%);
        z-index: 1;
    }
    .advantages-list {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 24%;
            display: block;
            width: 2px;
            background-color: #0e1a36;
            z-index: 1;
        }
        &-item {
            display: flex;
        }
    }
    .icon-wrap {
        display: flex;
        width: 80px;
        height: 80px;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
        margin-left: 7.22%;
        margin-right: 7.22%;
        img {
            display: block;
            width: 50px;
            height: auto;
        }
    }
}

.section-software {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 120px 0;
    color: $primary-color;
    background: url(../img/bg-sotfware.jpg) center center no-repeat;
    background-size: cover;
    overflow: hidden;
    &:before {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        content: '';
        background: $dark;
        opacity: .8;
    }
    .col-cards-wrap {
        max-width: 1360px;
    }
    .col-card-list {
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    .col-card {
        width: 30%;
        padding-left: 15px;
        padding-right: 15px;
        &-lg {
            width: 37.5%;
            padding-left: 15px;
            padding-right: 15px;
            .block-img {
                padding-top: 55%;
            }
        }
    }
    .block-img {
        position: relative;
        padding-top: 69.84%;
        overflow: hidden;
    }
    .img-link {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }
}

.section-video {
    .video {
        display: block;
        width: 100%;
        height: 400px;
    }
}
/**
*CONTACT SECTION
**/
%pseudo {
    content: '';
    position: absolute;
    display: block;
    width: 50%;
    bottom: 0;
    top: 0;
    z-index: 1;
}

.section-contacts {
    position: relative;
    background: url(../img/bg-contact.jpg) center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    padding: 120px 0;
    &:before {
        @extend %pseudo;
        background: $dark;
        right: 0;
        opacity: .8;
    }
    &:after {
        @extend %pseudo;
        background: $white;
        left: 0;
        opacity: .6;
    }
}