%outline-primary-hover {
     background-color: $primary;
     color: $white;
 }

%outline-primary {
    border: solid 3px $primary;
    color: $primary;
}

.btn {
    padding: 7px 30px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 700;
    &.btn-lg {
        padding: 9px 17px;
        text-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
        @include respond-to($lg){
            padding: 13px 35px;
        }
    }
    &-success {
        border-radius: 8px;
        background-color: #4cd964;
        box-shadow: 0 0 8px 0 #4cd964;
        color: $white;
        border: none;
        outline: none;
        &:hover,
        &:focus {
            background-color: #4cd964;
            box-shadow: 0 0 20px 0 #4cd964;
        }
        &:not(:disabled):not(.disabled):active,
        &:not(:disabled):not(.disabled).active {
            background-color: #1eca3b;
            box-shadow: 0 0 8px 0 #4cd964, inset 0 0 10px 0 rgba(0, 0, 0, 0.1);
            &:focus {
                box-shadow: 0 0 8px 0 #4cd964, inset 0 0 10px 0 rgba(0, 0, 0, 0.1);
            }
        }
    }
    .btn-outline-primary {
        &.active,
        &:active{
            @extend %outline-primary;
        }
        &:hover,
        &:focus {
            @extend %outline-primary-hover;
        }
    }
}