%pseudo {
    content: '';
    position: absolute;
    display: block;
    width: 50%;
    bottom: 0;
    top: 0;
    z-index: 1;
}

.section-intro {
    position: relative;
    display: table;
    width: 100%;
    height: 280px;
    padding: 80px 0 38px;
    color: $white;
    background: url(../assets/img/bg-banner.jpg) center left no-repeat;
    background-size: cover;
    overflow: hidden;
    @include respond-to($md) {
        background-position: center center;
        padding: 120px 0;
    }

    @include respond-to($lg) {
        min-height: 100vh;
    }

    &:before {
        @extend %pseudo;
        background: $dark;
        left: 0;
        opacity: .8;
    }
    &:after {
        @extend %pseudo;
        background: $white;
        right: 0;
        opacity: .6;
    }

    .title-page {
        max-width: 260px;
        margin-bottom: 18px;
        @include respond-to($lg) {
            margin-bottom: 50px;
        }
    }
    .text-small {
        margin-bottom: 10px;
        @include respond-to($lg) {
            margin-bottom: 80px;
        }
    }
    .wrap-btn {
        font-size: 10px;
        text-align: center;
        @include respond-to($lg) {
            font-size: 18px;
            text-align: left;
        }
    }
}