%pseudo {
    content: '';
    position: absolute;
    display: block;
    width: 50%;
    bottom: 0;
    top: 0;
    z-index: 1;
}

.section-contacts {
    position: relative;
    display: table;
    width: 100%;
    background: url(../assets/img/bg-contact.jpg) center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 400px;
    padding: 20px 0 30px;
    &:before {
        @extend %pseudo;
        background: $dark;
        right: 0;
        opacity: .8;
    }
    &:after {
        @extend %pseudo;
        background: $white;
        left: 0;
        opacity: .6;
    }
    .section-header {
        margin-bottom: 10px;
    }
    .contact-form {
        .form-group {
            margin-bottom: 10px;
        }
        textarea {
            overflow: auto;
            min-height: 83px;
        }
        .form-control {
            border-radius: 4px;
            background-color: #f2f2f2;
            font-size: 12px;
            font-weight: 500;
            padding: 8px 12px;
        }
        ::-webkit-input-placeholder {
            color: #bdbdbd;
            font-style: italic;
        }
    }
    .wrap-btn {
        font-size: 16px;
        text-align: center;
    }
    .btn-lg {
        margin-top: 20px;
        font-size: 16px;
        width: 100%;
        padding: 12px 0;
    }
    .invalid-feedback {
        padding-top: 5px;
        font-size: 14px;
    }
}

@include respond-to($md) {
    .section-contacts {
        padding: 120px 0;
        .btn-lg {
            font-size: 18px;
        }
    }
}

@include respond-to($lg) {
    .section-contacts {
        height: 100vh;
        .section-header {
            margin-bottom: 40px;
        }
        .text-wrap {
            padding-right: 30px;
        }
        .contact-form {
            .form-group {
                margin-bottom: 20px;
            }
            .form-control {
                font-size: 18px;
                padding: 11px 30px;
            }
            .btn-lg {
                width: auto;
            }

            .wrap-btn {
                font-size: 18px;
                text-align: right;
            }
            .btn-lg {
                padding: 17px 33px;
            }
        }
    }
}
