.section-video {
    padding: 60px 0;
    .video {
        display: block;
        width: 100%;
        height: 180px;
    }
}

@include respond-to($md) {
    .section-video {
        .video {
            height: 320px;
        }
    }
}

@include respond-to($lg) {
    .section-video {
        .video {
            height: 400px;
        }
    }
}