.section-software {
    position: relative;
    width: 100%;
    min-height: 320px;
    color: $white;
    background: url(../img/bg-sotfware.jpg) center center no-repeat;
    background-size: cover;
    overflow: hidden;
    &:before {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        content: '';
        background: $dark;
        opacity: .8;
    }
    .col-cards-wrap {
        width: 100%;
        max-width: 1360px;
        overflow: hidden;
    }
    .col-card-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        margin: 0;
        transition: transform .5s;
    }
    .col-card {
        flex-shrink: 0;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        &-lg {
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .section-header {
        margin-bottom: 20px;
    }
    .block-img {
        position: relative;
        overflow: hidden;
        margin-bottom: 30px;
    }
    .img-link {
        display: block;
    }
    .title-screen {
        margin-bottom: 10px;
    }
    .dots-wrap {
        display: flex;
        justify-content: center;
        padding-top: 20px;
        .dot {
            display: block;
            border-radius: 50%;
            width: 5px;
            height: 5px;
            margin: 0 10px;
            background-color: #f2f2f2;
            opacity: .5;
            &.active {
                opacity: 1;
            }
        }
    }
}

@include respond-to($lg) {
    .section-software {
        .col-card {
            width: 30%;
            &-lg {
                width: 37.5%;
                .block-img {
                    padding-top: 55%;
                }
            }
        }
        .block-img {
            padding-top: 69.84%;
        }
        .img-link {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;
        }
        .title-screen {
            margin-bottom: 20px;
        }
        .dots-wrap {
            display: none;
        }
    }
}